# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-storage-blob==12.20.0
sendgrid
pandas==2.2.2
langchain==0.1.20
langchain-community==0.0.38
langchain-core== 0.1.52
pydantic==2.7.1
langchain-openai==0.1.6
python-dotenv==1.0.1
pypdf==4.2.0
oracledb
googlemaps==4.10.0
requests>=2.20.0